body {
    font-family: 'Rye', cursive;
    background-image: url(img/bgBois.jpg);

}
.logoSize {
    width: 6rem;
    height: auto;
    margin: 0;
    padding: 0;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
.imgSize {
    border: dashed 5px black;

    filter: sepia(0.7);
    -webkit-filter: sepia(0.7);
}

.bgBeige {
    background-color: rgb(201, 169, 130);
}
.txtSize {
    font-size: 4rem;
}